body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  margin: 0;
  background-color: #00d4f0;
  text-align: center;
  font-family: Arial, sans-serif;
  color: #fff;
}

.game {
  &__stage {
    display: flex;
    margin-bottom: 40px;
  }

  &__card {
    width: 70px;
    height: 90px;
    font-size: 24px;
    font-weight: bold;
    line-height: 90px;
    perspective: 100px;
    transform-style: preserve-3d;
    transition: transform .8s;
    cursor: pointer;
    & + & {
      margin-left: 20px;
    }
  }
  &__card-back,
  &__card-front {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    backface-visibility: hidden;
  }
  &__card-back {
    background-color: #03a9f4;
  }
  &__card-front {
    background-color: #fff;
    color: #333;
    transform: rotateY(180deg);
  }
  &__card--open {
    transform: rotateY(180deg);
  }

  &__btn {
    margin: 0 auto;
    width: 200px;
    padding: 10px;
    background-color: #0af;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
    transition: opacity .5s;
    &--visible {
      opacity: 1;
    }
  }
}
